

/* GRID */

.content {
  display: grid;
  max-width: 1800px;
  margin: 10rem auto 0 auto;
  grid-template-columns: minmax(10rem, 1fr) 4fr 1fr;
  grid-template-areas: 
  '. main nav'
  '. main aside'
  'footer footer footer';
}
.nav {
  grid-area: nav;
}
.main {
  grid-area: main;
}
.footer {
  grid-area: footer;
}
.social-side {
  grid-area: aside;
}


@media (max-width: 1200px) {
  .content {
    overflow: hidden;
    display: grid;
    margin: 8rem auto 0 auto;
    padding-left: 2.5rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    '. nav nav'
    '. main aside'
    'footer footer footer';
  }

  .nav {
    grid-area: nav;
  }
  .main {
    grid-area: main;
  }
  .footer {
    grid-area: footer;
  }
  .social-side {
    grid-area: aside;
  } 
}

@media (max-width: 740px) {
  .content {
    display: grid;
    grid-template-columns: 500px;
    grid-template-areas: 
    'nav'
    'main'
    'aside'
    'footer';
  }
}

@media (max-width: 620px) {
  .content {
    overflow: hidden;
    padding: 0;
    margin: 0 auto;
    margin-top: -5rem;
    width: 100vw;
    grid-template-columns: auto;
  }
}

/* NAV */

.nav {
  margin-bottom: 12rem;
}

.nav ul {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: fixed;
  top: 0;
  right: 0;
  margin-left: 5rem;
}

.nav ul li {
  margin: 1.5rem 1.5rem 0 0;
  padding: .8rem;
  font-size: 1.0rem;
  color: var(--main-font);
}

.nav ul li:hover {
  color: var(--light-blue);
  transition: all .3s ease-out
}

@media (max-width: 740px) {
  .nav ul li {
    margin: .5rem .5rem 0 0;
    padding: .5rem;
  }
}

@media (max-width: 620px) {
  .nav ul {
    display: none;
  }
}

/* ASIDE */

.social-side {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  right: 0;
  margin-left: 5rem;
}

.social-side span {
  display: block;
  font-size: 1rem;
  margin: 0 2rem 1rem;
}

.social-side a {
  display: block;
  padding: 1rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  text-align: end;
}

@media (max-width: 740px) {
  .social-side a {
    padding: 0.5rem;
    margin-bottom: 0.5rem;
  }
}

@media (max-width: 620px) {
  .social-side {
    margin: 5rem 0 0 0;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 5rem;
  }
  .social-side a {
    display: inline-block;
    justify-content: center;
    align-items: center;
  }
  .social-side i:last-child {
    margin-right: 0;
  }
}


/* HEADER */

.header-container {
  display: flex;
}

.title {
  line-height: 3rem;
  margin-bottom: 3rem;
}

.title span {
  font-size: 1rem;
}

.title h1 {
  font-size: 4.5rem;
  color: var(--light-blue);
  line-height: 5rem;
}

.description {
  font-size: 1.2rem;
  max-width: 48rem;
  margin-bottom: 20rem;
  line-height: 1.8rem;
}

.description p {
  margin-bottom: 50px;
}

.description i {
  color: var(--main-font);
}

.description .button-hello {
  width: 150px;
  height: 70px;
  padding: 10px;
  font-size: 1.4rem;
  font-weight: bold;
  color: var(--main-font);
  border: 2px solid var(--main-font);
  background-color: var(--main-bg);
}

.description .button-hello i {
  margin-right: .5rem;
}

.description .button-hello:hover {
  color: var(--light-blue);
  border: 2px solid var(--light-blue);
  cursor: pointer;
  transition: all .3s ease-out;
}

.description .button-hello:hover .fa-inbox {
  color: var(--light-blue);
}

.img-perfil {
  margin-left: 5rem;

}

.img-perfil img {
  max-width: 26rem;
  max-height: 23rem;
  margin-top: 1rem;
}

@media (max-width: 1200px) {
  .img-perfil img {
    max-width: 18rem;
    max-height: 15rem;
    margin-right: 8rem;
  } 
  .img-perfil {
    margin-left: 2rem;
    width: 50%;
  }
}

@media (max-width: 620px) {
  .img-perfil img {
    display: none;
  }
}

@media (max-width: 620px) {
  .header-container {
    width: 90vw;
    padding-right: 1rem;
  }
  .title h1 {
    font-size: 3.2rem;
    line-height: 4rem;
  }
  .description p {
    text-align: center;
  }
  .description a {
    display: flex;
    text-align: center;
    justify-content: center;
  }
  .header-container {
    text-align: center;
    margin: 0 auto;
  }

  .img-perfil {
    margin: 0;
    width: 0;
  }
}


/* ABOUT ME */

.about-me {
  margin: -10rem 0 10rem 0;
  max-width: 45rem;
}

.about-me p {
  margin-bottom: 2rem;
}

@media (max-width: 1200px) {
  .about-me {
    max-width: 35rem;
  }
}

@media (max-width: 740px) {
  .about-me {
    max-width: 28rem;
  }
}

@media (max-width: 620px) {
  .about-me {
    max-width: 45rem;
    margin-top: -15rem;
    margin-bottom: 5rem;
    padding-left: 1rem;
    width: 90vw;
    text-align: justify;
  }
}


/* SKILLS */

.skills {
  margin-bottom: 10rem;
}
.skills ul, .skills span  {
  font-size: 1.23rem;
}

.skills ul {
  margin-top: 1rem;
  line-height: 2.5rem;
}

.skills ul i {
  margin-right: 1rem;
  color: var(--light-blue);
}

@media (max-width: 620px) {
  .skills {
    margin-bottom: 5rem;
    width: 90vw;
    padding-left: 1rem;
  }
}

/* PROJECTS  */

.project {
  max-width: 80rem;
  display: inline-block;
  border: .2rem solid var(--main-font);
  width: 25rem;
  height: 32rem;
  margin: 2rem;
  border-radius: .5rem;
}

.project:nth-child(even) {
  margin-right: 0;
}

.project-img img {
  display: block;
  width: 23rem;
  height: 12rem;
  margin: 2rem auto;
}

.project h4 {
  font-size: 1.2rem;
  padding: .2rem 2rem;
}

.project p {
  font-size: 1rem;
  padding: 1.5rem 2rem;
  margin: 0;
}

.project span {
  padding: .5rem;
  font-size: .8rem;
  font-style: italic;
  font-weight: bold;
}

.project-description p {
  display: block;
  height: 6rem;
}

.project-tech {
  margin-left: 1rem;
  width: 11rem;
  display: inline-block;
}

.button-github {
  background-color: var(--main-bg);
  border: .2rem solid var(--main-font);
  display: inline-block;
  padding: 1rem;
}

.button-github:hover {
  color: var(--light-blue);
  border: 2px solid var(--light-blue);
  cursor: pointer;
}

.button-github i {
  font-size: 1rem;
  margin: 0;
}

.button-github span {
  margin: 0;
  color: var(--main-font);
}

.project:hover {
  transform: translateY(-7px);
}

@media (max-width: 620px) {
  .projects-container {
    width: 100vw;
    padding-left: 1rem;
  }
  .projects-container h2 {
    margin-bottom: 1rem;
  }
  
  .project {
    margin: 0 1.5rem 1.5rem 0;
    height: 34rem;
    width: 15rem;
  }

  .button-github {
    padding: .5rem;
    float: right;
    margin: 1rem 1rem 0 0;
  }

  .project-tech {
    margin-top: 2rem;
  }
}

@media (max-width: 575px) {
  .project {
    margin: 1.5rem 1.5rem 1.5rem 0;
    width: 90vw;
    height: 35rem;
  }

  .button-github {
    padding: .5rem;
    float: right;
    margin: 1rem 1rem 0 0;
  }

  .project-tech {
    margin-top: 2rem;
  }

  .project-img img {
    width: 80vw;
  }
}

/* FOOTER */

.footer {
  height: 10rem;
  margin: 0 auto;
}

.footer p {
  margin-top: 7rem;
  font-size: 1rem;
}

@media (max-width: 620px) {
  .footer {
    height: 5rem;
  }
  
  .footer p {
    margin-top: 2rem;
  }
}